{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Admin Panel - Dashboard</title>
  <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">
</head>
<body class="ds">
  <h1 class="tittle">Panel de Super Administrador</h1>
  <div class="ds-container">
    <aside class="sidebar">
      <nav>
        <ul>
          <li><span>🏠</span> Dashboard</li>
          <li><span>🏢</span> Sucursales</li>
          <li><span>👥</span> Usuarios</li>
        </ul>
      </nav>
    </aside>
    <main class="main-content">
      <h3>Contenido Principal aquí</h3>
    </main>
  </div>
</body>
</html>