<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header class="card-header">
        <img src="assets/icon/icon.png" alt="Logo" class="logo" />
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-item class="inp">
            <!-- Icono de email -->
            <div slot="start" class="custom-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#59d2a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail-icon lucide-mail"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
            </div>
            <!-- Input field de email / debemos definir si sera correo, clave unica o rut -->
            <ion-input
              formControlName="rut"
              type="text"
              placeholder="99.999.999-9"
              class="inp"
            ></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="rut.invalid && rut.touched">
            <p class="ion-padding-start">El RUT es requerido</p>
          </ion-text>

          <ion-item class="inp">
            <!-- Icono de Password -->
            <div slot="start" class="custom-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#59d2a8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-key-round-icon lucide-key-round"><path d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"/><circle cx="16.5" cy="7.5" r=".5" fill="currentColor"/></svg>
            </div>
            <!-- Input field de contraseña -->
            <ion-input
              formControlName="password"
              type="password"
              placeholder="Contraseña"
            ></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="password.invalid && password.touched">
            <p class="ion-padding-start">La contraseña es requerida</p>
          </ion-text>

          <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" class="btn-mio">
            Iniciar sesión
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>